<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf/org">
<head>
    <meta charset="UTF-8">
    <title>Coding Book</title>
</head>
<body>
<h1>Authors</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">CB</td>
            <td th:text="${author.firstName}">CB</td>
            <td th:text="${author.lastName}">CB</td>
        </tr>
    </table>

</body>
</html>
